html {
  height: 100vh;
}

body,
.vh100 {
  min-height: 100vh;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-self-center {
  align-self: center;
}

code {
  background-color: rgba(27,31,35,.05);
  border-radius: 3px;
  padding: .2em .4em;
}
